body {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-color:#eef5e8;
}

table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px 15px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  table#t01 th {
    background-color: rgba(139, 178, 223, 0.014);
    color:#3406c3;
	width:180px;
  }
  .heading{
    padding: 10px;
	text-align:center;
	color: #f79823;
	text-transform:capitalize;
}
button {
    background-color: #4CAF50;
    font-size: 15px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
.table{
	width: 50%;
	padding: 10px;
	text-align:center;
	float:left;
	display:inline-block;
}
 .datalist{
	width: 40%;
	padding: 10px;
	text-align:center;
	float:right;
	display:inline-block;
}
@media(max-width:767px){
	.table, .datalist{
		width: 100% !important;
		float:none !important;
		display:block !important;
		margin-bottom:25px;
	}
}
.btns{
	text-align:center;
	margin:25px auto;
}
.container{
  width: 90%;
  margin:0 auto;
}
#p1{
  padding: 10px;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

table#t02 {
  width: 100%;    
  padding: 5px;;
}
table#t02 th {
background-color:#b5b5ac;
}
table#t02 td {
background-color:#fff;
}
@media screen and (max-width: 600px) {
  table#t02 {
    width: 30%;
  }
}
input{
	width:95%;
	border:1px solid #ddd;
	border-radius:0;
	height:25px;
}
